<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
      <div class="logo">
        <img src="../../assets/Images/logo.jpg" alt="logo">
      </div>
        <a class="navbar-brand" href="logo"></a>
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav">
  
          <li class="nav-item">
            <a class="nav-link" routerLink="Home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [class.disabled]="loginStatus" routerLink="login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [class.disabled]="loginStatus" routerLink="register">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [class.disabled]="!loginStatus" routerLink="showusers">ShowUsers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [class.disabled]="!loginStatus" routerLink="aboutus">About us</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" [class.disabled]="!loginStatus" routerLink="payment">Payment</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" [class.disabled]="!loginStatus" routerLink="cart">Carts({{cartItems.length}})</a>
          </li>
        </ul>
        <form class="d-flex">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link" [class.disabled]="!loginStatus" routerLink="logout">Logout</a>
            </li>
          </ul>
        </form>
      </div>
    </div>
  </nav>