.navbar {
  
    background-color:transparent; 
    display:fixed;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    padding-bottom: 0%;
    
  }
  
  .logo img{
    color: #851414;
    font-size: 1.5em;
    height: 50px;
    margin-right: 10px;
    /* top:auto; */
  }
  
  .nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links li a {
    color: #fff;
    text-decoration: none;
  }
  
  .toggle {
    display: none;
  }
  
  @media (max-width: 768px) {
    .nav-links {
      display: none;
      flex-direction: column;
      position: fixed;
      top: 60px;
      left: 0;
      width: 100%;
      background-color: #333;
    }
  
    .nav-links.active {
      display: flex;
    }
  
    .toggle {
      display: block;
      color: #fff;
      font-size: 1.5em;
      cursor: pointer;
    }
  
    .nav-links li {
      margin: 10px 0;
    }
  }