<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  </head>
  
  <h3>Welcome {{email}}!</h3>
  <div align="center" class="container">
    <h1 align="center">Combined User and Payment Data</h1>
    <table class="table table-hover table-striped table-sm table-bordered" align="center">
        <thead>
            <tr align="center">
                <th class="bg-info text-white">User Id</th>
                <th class="bg-info text-white">Name</th>
                <th class="bg-info text-white">Gender</th>
                <th class="bg-info text-white">State</th>
                <th class="bg-info text-white">Email</th>
                <th class="bg-info text-white">Phone Number</th>
                <th class="bg-info text-white">Payment Id</th>
                <th class="bg-info text-white">Amount</th>
                <th class="bg-info text-white">Status</th>
                <th class="bg-info text-white">Date</th>
                <th class="bg-info text-white">Booking Id</th>
                <th class="bg-info text-white" colspan="2" align="center">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users" align="center">
                <td>{{user.userId}}</td>
                <td>{{user.name}}</td>
                <td>{{user.gender}}</td>
                <td>{{user.states}}</td> 
                <td>{{user.email}}</td>
                <td>{{user.phoneNumber}}</td>
                
                <ng-container *ngFor="let payment of payments">
                  <ng-container *ngIf="payment.userId === user.userId">
                    <td>{{payment.paymentId}}</td>
                    <td>{{payment.paymentAmount}}</td>
                    <td>{{payment.paymentStatus}}</td>
                    <td>{{payment.paymentDate}}</td>
                    <td>{{payment.bookingId}}</td>
                    <td><button (click)="editPayment(payment)" class="glyphicon glyphicon-pencil"></button></td>
                    <td><button (click)="deletePayment(payment)" class="glyphicon glyphicon-trash"></button></td>
                  </ng-container>
                </ng-container>
                <!-- If user has no payment, display empty cells -->
      <ng-container *ngIf="!hasPaymentForUser(user)">
        <td colspan="6"></td> <!-- Adjust colspan to match the number of user columns -->
      </ng-container>
            </tr>
        </tbody>
    </table>
  </div>
  
  <!-- Add the following Code for Modal Dialog Box -->
  <div class="container">
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog" >
        <div class="modal-dialog">
  
            <!-- Modal content-->
            <div class="modal-content">
  
                <div class="modal-header">
                    <h4 class="modal-title"><b>Update Payment</b></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>                   
                </div>
  
                <div class="modal-body">
                    <table align="center">
                        <tr>
                            <td>PaymentId</td>
                            <td><input type="text" name="paymentId" [(ngModel)]="editPayment.paymentId" readonly  /></td>
                        </tr>
                        <tr>
                            <td>Amount</td>
                            <td><input type="text" name="paymentAmount" [(ngModel)]="editPayment.paymentAmount"  /></td>
                        </tr>
                        
                        <tr>
                            <td>Status</td>
                            <td><input type="text" name="paymentStatus"  [(ngModel)]="editPayment.paymentStatus" /></td>
                        </tr>
                        <tr>
                            <td>Date</td>
                            <td><input type="LocalDateTime" name="paymentDate"  [(ngModel)]="editPayment.paymentDate" readonly /></td>
                        </tr>
                        <tr>
                            <td>UserId</td>
                            <td><input type="text" name="userId"  [(ngModel)]="editPayment.userId" readonly /></td>
                        </tr>
                        <tr>
                          <td>BookingId</td>
                          <td><input type="text" name="bookingId"  [(ngModel)]="editPayment.bookingId" readonly /></td>
                      </tr>
                       
                    </table>
                </div>
  
                <div class="modal-footer">
                    <button type="button" (click)="updatePayment()" class="btn btn-default" data-dismiss="modal">Update payment</button>
                </div>
  
            </div>
        </div>
    </div>
  </div>
