<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css">
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            background-image: url('../assets/Images/event8.jpg');
            background-size: cover;
            background-position: center;
            min-height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .container {
            width: 440px;
            background: transparent;
            border: 2px solid rgb(255, 255, 255);
            /* backdrop-filter: blur(20px); */
            box-shadow: 0 0 10px rgba(0, 0, 0, .2);
            color: #fff;
            border-radius: 10px;
            padding: 30px 40px;
        }

        .input-group {
            margin-bottom: 15px;
            background:transparent
        }

        .input-group-addon {
            background-color: transparent;
        }

        .btn-primary {
            width: 100%;
        }

        @media (max-width: 768px) {
            .container {
                width: 90%;
            }
        }
    </style> 
</head>
<body>
<div class="container">

    <form #registrationForm="ngForm" (ngSubmit)="registerSubmit(registrationForm.value)" novalidate>

        <table align="center">
            <tr>
                <div class="input-group">
                    <!-- <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span> -->
                    <input type="text" class="form-control" placeholder="Name" name="name" [(ngModel)]="name"
                        required minlength="2" maxlength="30" />
                </div>
            </tr>
            <br />
            <tr>
                <div class="input-group">
                    <!-- <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span> -->
                    <select class="form-control" placeholder="Select Gender" name="gender" #gender="ngModel" ngModel required>
                        <option value="" disabled selected>Select Gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Others">Others</option>
                    </select>

                </div>
            </tr>
            <br />
            <tr>
                <div class="input-group">
                    <!-- <span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span> -->
                    <select class="form-control"name="states" ngModel >
                        <option value="" selected>Select States</option>
                        <option value="Andhra Pradesh">Andhra Pradesh</option>    
                        <option value="Telangana">Telangana</option>    
                        <option value="Karnataka">Karnataka</option>   
                        <option value="Tamilnadu">Tamilnadu</option>  
                        <option value="Kerala">Kerala</option>     
                    </select>

                </div>
            </tr>
            <br />
            <tr>
                <div class="input-group">
                    <!-- <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span> -->
                    <input type="text" placeholder=" MobileNumber" name="phoneNumber" class="form-control"
                        [(ngModel)]="phoneNumber" required pattern="^(\+91[\-\s]?)?[6-9]\d{9}$" minlength="10" maxlength="13" />
                    <div *ngIf="registrationForm.controls['phoneNumber'].hasError('required') && registrationForm.controls['phoneNumber'].touched"
                        style="color: red;">Please Enter Phone Number</div>
                    <div *ngIf="registrationForm.controls['phoneNumber'].hasError('pattern') && registrationForm.controls['phoneNumber'].touched"
                        style="color: red;">Please Enter a Valid Phone Number</div>

                </div>
            </tr>
            <br />
            <tr>
                <div class="input-group">
                    <!-- <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span> -->
                    <input type="text" class="form-control" placeholder="Email" name="email" [(ngModel)]="email"
                        required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" minlength="2"
                        maxlength="30" />
                    <div *ngIf="registrationForm.controls['email'].hasError('required') && registrationForm.controls['email'].touched"
                        style="color: red;">Please Enter Email</div>
                    <div *ngIf="registrationForm.controls['email'].hasError('pattern') && registrationForm.controls['email'].touched"
                        style="color: red;">Please Enter a Valid Email</div>
                </div>
            </tr>
            <br />
            <tr>
                <div class="input-group">
                    <!-- <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span> -->
                    <input type="password" class="form-control" placeholder="password" name="password"
                        [(ngModel)]="password" required
                        pattern=".{8,}" minlength="8"
                        maxlength="8" />
                    <div *ngIf="registrationForm.controls['password'].hasError('required') && registrationForm.controls['password'].touched"
                        style="color: red;">Please Enter Password</div>
                </div>
                <div *ngIf="registrationForm.controls['password'].hasError('pattern') && registrationForm.controls['password'].touched"
                    style="color: red;">Please Enter a Valid Password (8 characters, 1 uppercase, 1 lowercase, 1 digit,
                    1 special character)</div>

            </tr><br/>
            <tr>
                <div class="input-group">
                    <!-- <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span> -->
                    <input type="password" class="form-control" placeholder="confirmPassword" name="confirmPassword"
                        [(ngModel)]="confirmPassword" required
                        pattern="^(?=.[a-z])(?=.[A-Z])(?=.\d)(?=.[@$!%?&])[A-Za-z\d@$!%?&]{8,}$" minlength="8"
                        maxlength="8" />
                    <div *ngIf="registrationForm.controls['confirmPassword'].hasError('required') && registrationForm.controls['confirmPassword'].touched"
                        style="color: red;">Please Enter Password</div>
                </div>
            </tr><br/>
            <tr>
                <td>
                    <ngx-recaptcha2 #captchaElem
                      [siteKey]="siteKey"
                      formControlName="recaptcha">
                    </ngx-recaptcha2>
                </td>
            </tr>
            <tr>
                
                    <td></td>
                    <td><button [disabled]="registrationForm.valid" class="btn btn-primary">Register</button></td>
                
            </tr>
        </table>
    </form>

    <div>
        <div *ngIf="registrationForm.controls['name'].errors?.['required'] && registrationForm.controls['name'].touched"
            style="color: red;">Please Enter User Name</div>
        <div *ngIf="registrationForm.controls['gender'].errors?.['required'] && registrationForm.controls['gender'].touched"
            style="color: red;">Please Select Gender</div>
        <div *ngIf="registrationForm.controls['states'].errors?.['required'] && registrationForm.controls['states'].touched"
            style="color: red;">Please Select Country</div>

        <div *ngIf="registrationForm.controls['name'].errors?.['minlength'] && registrationForm.controls['name'].touched"
            style="color: red;">Please Enter Atleast 2 Characters for Employee Name</div>

    </div>
</div>
</body>