<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" 
    href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" 
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" 
    crossorigin="anonymous">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-image: url('../../assets/Images/event10.jpg');
            background-size:cover;
            background-position: center;
            min-height: 89vh;
            display:flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            padding: 0;
            flex-direction: column;
        }
        header {
            background-color: #333;
            color: white;
            padding: 10px 20px;
            text-align: center;
        }

        .container {
            width: 440px;
            background: transparent;
            border: 2px solid rgb(255, 255, 255);
            /* backdrop-filter: blur(20px); */
            box-shadow: 0 0 10px rgba(0, 0, 0, .2);
            color: #fff;
            border-radius: 10px;
            padding: 30px 40px;
            
            
        }

        .input-group {
            margin-bottom: 15px;
            background-color: transparent;
            
        }

        /* .input-group-addon {
            background-color:transparent;
        } */

        .btn-primary {
            width: 100%;
        }

        @media (max-width: 768px) {
            .container {
                width: 90%;
            }
        }
    </style>
</head>
<body>
    <div class="container">
        <form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm.value)" novalidate>
            
            <table>
                <tr>
                    <td>
                        <div class="input-group">
                            <!-- <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span> -->
                            <input type="text" class="form-control" placeholder="Enter Email" name="email" #email="ngModel" ngModel required minlength="2" maxlength="30"/>
                        </div>
                        <br/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="input-group">
                            <!-- <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span> -->
                            <input type="password" class="form-control" placeholder="Enter Password" name="password" #password="ngModel" ngModel required minlength="2" maxlength="8" />
                        </div>
                        <br/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ngx-recaptcha2 #captchaElem [siteKey]="siteKey"  (resolved)="onCaptchaResolved($event)"></ngx-recaptcha2>
                    </td>
                </tr>
    
                <tr>
                    <td></td>
                    <td><button [disabled]="!loginForm.valid" class="btn btn-primary">Login</button></td>
                </tr>
            </table>
        </form>

        <div>
            <div *ngIf="email.errors?.['required'] && email.touched" style="color: red;">Please Enter Email</div>
            <div *ngIf="password.errors?.['required'] && password.touched" style="color: red;">Please Enter Password</div>
            <div *ngIf="email.errors?.['minlength'] && email.touched" style="color: red;">Please Enter At least 2 Characters for Email</div>
            <div *ngIf="password.errors?.['minlength'] && password.touched" style="color: red;">Please Enter At least 2 Characters for Password</div>
        </div>
    </div>
</body>