<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="aboutus.component.css">
  </head>
  <body>
    <h3>Welcome {{email}}!</h3>
    <div class="card">
      <img src="../../assets/Images/Wedding-Event.webp" class="card-img" alt="image2">
      <div class="card-body">
        <h1 class="card=title">DAM</h1>
        <p class="card-subtitle">Plan Your Event</p>
        <p class="card-info">It is an online event seat booking system that lets you set up an event and allow your customers to pay online and choose the seats they want.</p>
        <!-- <button class="card-btn">Book</button> -->
      </div>
    </div><br/>
    <div class="card">
      <img src="../../assets/Images/event7.webp" class="card-img" alt="image2">
      <div class="card-body">
        <h1 class="card=title">Plan</h1>
        <p class="card-subtitle">Choose Your Event</p>
        <p class="card-info">A booking contains details such as the space, time and date of your event or meeting. A reservation contains a description of the event as well as contact information.</p>
        <a routerLink="/event" class="card-btn">Plan</a>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/Images/events.jpg" class="card-img" alt="image2">
      <div class="card-body">
        <h1 class="card=title">Start</h1>
        <p class="card-subtitle">Get Register</p>
        <p class="card-info">Event management platforms typically offer a combination of event registration & ticketing software, event planning software, and event marketing software. Today, most event management platforms are deployed in the cloud, allowing event organizers and attendees to easily access event information online.</p>
        <button class="card-btn">Book</button>
      </div>
    </div>
  </body>