<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width ,initial-scale=1.0">
    <title>Event component</title>
    <link rel="stylesheet" href="event.component.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-4" *ngFor="let event of events"><br><br>

                <div class="card">
                    <div class="face front">
                        <img class="card-img-top" [src]="event.imgsrc" alt="Card image">
                        <h3>{{event.name}}</h3>
                    </div>
                    <div class="face back">
                        <h3>{{event.flipname}}</h3>
                        <p>{{event.description}}</p>
                        <p class="card-text"><b>Price: ₹{{event.price}}/-</b></p>

                        <div class="link">
                            <button (click)="Book(event)" class="btn btn-primary">Book</button><br/>
                            <a routerLink="/cart" class="btn btn-secondary">Go to Cart</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
