*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
    
  }
  
  #wrapper{
    width: 100%;
    height: 500px;
    background: url('../../assets/Images/event6.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    padding-left:30px;
    margin-top: 0px;
    flex-direction: row;
    align-items: top;
  }
  
  #wrapper h1{
    
    /* text-align: center; */
    margin-left: 70%;
    margin-top: 200px;
    color:cadetblue;
    /* text-shadow: 2px 2px #333;   */
    font-size:xx-large;
  }
  #wrapper h2{
    font-size: medium;
    text-align: center;
    margin-left: 58%;
    margin-top: 13px;
    color:burlywood;
    text-shadow: 2px 2px #333;  
  }
  /* 
  @import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800); */
  
  body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Raleway", Arial, sans-serif;
  /* background: #7f9ead; */
  }
  
  .card {
  position: relative;
  width: 300px;
  height: 500px;
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  padding: 60px 80px;
  background: #fff;
  cursor: pointer;
  margin-right: 30px;
  }
  
  .card:hover {
  height: 20px;
  }
  
  .imgbox {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-80px);
  z-index: 99;
  }
  
  img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
  }
  
  .content {
  padding: 10px 20px;
  text-align: center;
  transform: translateY(-450px);
  opacity: 0;
  transition: 0.3s;
  }
  
  .card:hover > .content {
  opacity: 1;
  transform: translateY(-180px);
  }
  
  .content h2 {
  color: #7f9ead;
  }
  
  
  #input-box1{
    width: 100%;
    height: 60px;
    position: relative;
    margin-top: 80px;
  }
  
  .flex-container {
    display: flex;
  }
  
  .flex-container > div {
    height: 20%;
    width: 25%;
    margin: 10px;
    padding: 20px;
    font-size: 18px;
    text-align: justify;
    border-radius: 20px;
  }
  
  .flex-container .btn{
    width: 100%;
    height: 60px;
    background: white;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    color: #333;
    font-weight: 700;
    margin-top: 20px;
  }
  
  
  
  
  
  
  footer{
  background-color:cadetblue;
  display: flex;
  width: 100%;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .para {
    color: black;
    padding: 50px;
    padding-top: 5px;
    padding-right: 25%;
    padding-left: 25%;
    text-align: center;
    font-size: 20px;
  }
  
  .quote {
    color: rgb(220, 7, 53);
    font-size: 18px;
  }
  
  .img-wrapper {
    width: 100%;
    padding-top: 20px;
    text-align: center;
  }
  
  h2 {
    font-family: sans-serif;
    color: #fff;
  }
  
  .carousel {
    width: 90%;
    margin: 0px auto;
  }
  
  .image {
    position: relative;
    height: 300px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
  }