<main>
    <form action="">
        <div class="flex-container" id="wrapper">
                <div id="input-box1">
                    <h1>Welcome to <br> <b><i>DAM-Plan Your Events</i></b></h1>
                    <h2>"Find Your Bliss in Every Event."</h2>
                </div>
        </div>
    </form>
   <style>
    .container{
      width: 90%;
      padding: 20px;
      margin: 100px auto;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  
    .box{
      width: 250px;
      height: 100px;
      margin: 0 10px;
      box-shadow:0 0 20px 2px rgba(0, 0, 0, .1);
      transition: 1s;
    }
  
    .box img{
      display: block;
      width: 100%;
      border-radius: 5px;
    }
    .box:hover{
      transform: scale(1.3);
      z-index: 2;
    } 
    .box.box:h1{
      color: brown;
    }
   </style>
  <br>
  <body>
    
    <div class="container">
      <div class="box">
        <img src="../../assets/Images/event2.jpg"/>
        <!-- <h1 align="center">plan</h1>
        <p>lerom</p> -->
      </div>
  
      <div class="box">
        <img src="../../assets/Images/event3.jpg"/>
      </div>
  
      <div class="box">
        <img src="../../assets/Images/Wedding-Event.webp"/>
      </div>
  
      <div class="box">
        <img src="../../assets/Images/event4.jpg"/>
      </div>
  
      <div class="box">
        <img src="../../assets/Images/event5.jpg"/>
      </div>
    </div>
  
  </body>
  
  <div class="para">
    <h4 class="quote">"May your birthday be filled with joy, laughter, and cherished moments that warm your heart for years to come."</h4>
    <br>
    <h4 class="quote">"Today marks the beginning of a beautiful journey, where two hearts intertwine, two souls unite, and love shines brighter than ever before." </h4>
  </div>
  <br><br>
  
  </main>
  
  
  
  <!-- Footer -->
  <footer >
  
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i> DAM Events
          </h6>
          <p>
            Each event intertwines moments of joy, celebration, and connection, presenting an opportunity to forge enduring memories and foster meaningful bonds among attendees.
          </p>
        </div>
        
  
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fas fa-home me-3"></i>Hyderabad, Telangana</p>
          <br>
          <p><i class="fas fa-envelope me-3"></i>meghanareddy2308042gmail.com</p>
          <br>
          <p><i class="fas fa-phone me-3"></i> + 91 8523070761</p>
          <p><i class="fas fa-print me-3"></i> + 91 9959628819</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->
  
  
  </footer>
  <!-- Footer -->