<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<h3>Welcome {{email}}!</h3>
<h1 align="center">Cart Items</h1>

<div class="container">
    <table class="table text-center table-bordered table-sm">
        <thead>
            <tr>
                <th class="bg-info text-white text-center">eventId</th>
                <th class="bg-info text-white text-center">event Name</th>
                <th class="bg-info text-white text-center">Price</th>
                <th class="bg-info text-white text-center">Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let event of events" align="center">
                <td>{{event.id}}</td>
                <td>{{event.name}}</td>
                <td>{{event.price}}</td>
                <td><button (click)="deleteCartEvent(event)" class="glyphicon glyphicon-trash">  </button></td> 
            </tr>
            <tr align = "center">
                <td colspan="2" align="right"><b>Total</b></td>
                <td align="Right">{{total}}</td>
            </tr>
            <tr>
                <td colspan="3" (click)="purchase()" align="right"><button class="btn btn-primary">Purchase</button></td>
            </tr>
        </tbody>
    </table>
</div>